.btn {
	min-width: 5rem;
	min-height: 3rem;
	background-color: $color-primary;
	color: $color-secondary;
	fill: $color-secondary;
	cursor: pointer;
	border: 1px solid $color-secondary;
	border-radius: $gap;

	&:hover {
		opacity: 0.8;
	}
	&:active {
		opacity: 0.6;
	}
}

.footer_link {
	cursor: pointer;
	user-select: none;
	background-color: brown;
	flex: 1;
	a {
		flex: 1;
	}
}

.ind {
	width: 100%;
	flex: 1;
	min-height: 40rem;
	background-color: $color-green;
}
