.page {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: $font-homa;
	font-size: 1rem;
	height: max-content;
	justify-content: space-between;
	height: max-content;
	min-height: 100vh;
	width: 100%;
	z-index: 0;

	* {
		display: flex;
	}
}

.base_layout {
	gap: 0.6rem;
	max-width: $max-width;
	z-index: 0;
	padding: 1rem;
	flex: 1;
	width: 100%;
}

.header_wrapper {
	top: 0;
}

.footer_wrapper {
	bottom: 0;
}

.header_wrapper,
.footer_wrapper {
	flex-grow: 0;
	width: 100%;
	flex-direction: row;
	position: sticky;
	z-index: 1;
}

.header,
.footer {
	max-width: $tablet;
	flex: 1;
	padding: $gap;
	justify-content: space-around;
	gap: $gap;
	height: max-content;
	margin: 0;
	align-items: center;
	min-height: 3rem;
}
