.user {
	background-color: darkgreen;
	justify-content: start;
}

.user_header {
	background-color: rgb(221, 157, 98);
	height: max-content;
	flex: 0;
	justify-content: start;
	.link {
		color: rgb(37, 48, 0);
	}
}
